---
import Heading from "@components/display/Heading.astro";
import Cover from "@components/layout/Cover.astro";
import Section from "@components/layout/Section.astro";
import Stack from "@components/layout/Stack.astro";
import type { InferEntrySchema } from "astro:content";

type Section_ = NonNullable<InferEntrySchema<"pages">["sections"]>[number];

interface Props {
  block: Extract<Section_, { type: "enquiriesBlock" }>;
  index: number;
}

const { block } = Astro.props;
const { id, heading, lines = [] } = block;
---

<Section id={id} class="EnquiriesBlock" padding="none">
  <Cover minHeight="calc(100dvh - var(--header-height))" space="lg">
    <div slot="top" class="enquiries-trigger-wrap" data-reveal>
      <!-- <MenuToggle initial="monogram" /> -->
    </div>

    <Stack
      as="ul"
      space="2xs"
      align="center"
      text="center"
      class="enquiries-lines"
      data-reveal
      style="--reveal-delay: 0.15s;"
    >
      <p class="enquiries-line--large">
        <a
          href="mailto:enquiries@bnb.art"
          class="underline"
          target="_blank"
          title="Send an email to Belliappa Norman-Butler"
        >
          enquiries<span class="at-symbol">@</span>bnb.art
        </a>
      </p>
      <p>Viewings by appointment</p>
      <p>London, W11</p>
    </Stack>

    {
      heading && (
        <Heading
          as="h1"
          slot="bottom"
          class="py-md sr-only mx-auto text-center"
          set:html={heading}
          data-reveal
          style="--reveal-delay: 0.3s;"
        />
      )
    }
  </Cover>

  <p class="credit">
    Homepage image copyright Jannis Kounellis, Rosa Nera(detail) c. 1965/66. In
    admiration.
  </p>
</Section>

<style>
  .EnquiriesBlock {
    overflow: hidden;
  }

  .enquiries-trigger-wrap {
    display: flex;
    justify-content: center;
    padding-block-start: var(--space-md);
  }

  .enquiries-lines {
    font-family: var(--font-family-alt);
    font-size: var(--font-size-1);
    letter-spacing: var(--letter-spacing-loosest);
    text-transform: uppercase;

    p {
      letter-spacing: var(--letter-spacing-loosest);
    }

    .enquiries-line--large {
      /* font-size: var(--font-size-2);
      margin-bottom: var(--space-sm); */
    }

    :global(a) {
      color: currentColor;
      text-decoration: none;

      &:hover {
        color: var(--color-accent);
      }
    }
  }

  .at-symbol {
    display: inline-block;
    transform: translateY(-0.15em);
  }

  .credit {
    font-size: var(--font-size--1);
    position: absolute;
    bottom: var(--space-md);
    right: var(--container-padding);
  }
</style>
