---
import canvasTextureImage from "@assets/images/canvas-texture.jpg";
import heroRoseImage from "@assets/images/hero-rose.png";
import Container from "@components/layout/Container.astro";
import Section from "@components/layout/Section.astro";
import FullLogo from "@components/svg/FullLogo.astro";
import { Image } from "astro:assets";
---

<Section class="HomepageBlock" padding="0" colorScheme="light">
  <Image
    src={heroRoseImage}
    alt="Hero Rose"
    class="rose"
    loading="eager"
    fetchpriority="high"
  />
  <Image
    class="texture"
    src={canvasTextureImage}
    alt=""
    loading="eager"
    fetchpriority="high"
  />
  <Container>
    <button
      type="button"
      class="logoButton"
      onclick="window.dispatchEvent(new CustomEvent('open-nav'))"
      aria-controls="mobile-menu"
      aria-label="Open navigation menu"
    >
      <FullLogo class="logo" data-reveal style="--reveal-delay: 500ms;" />
    </button>
  </Container>
</Section>

<style>
  .HomepageBlock {
    min-block-size: calc(100dvh - var(--header-height));
    display: flex;
    align-items: end;
    padding-block: var(--space-md);
    /* position: relative; */
    overflow: hidden;
  }

  .texture {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100lvh;
    object-fit: cover;
    opacity: 0.4;
    mix-blend-mode: multiply;
  }

  .logoButton {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: inherit;
    display: block;
  }

  .logo {
    height: ruler.fluid(90, 160);
    width: auto;
  }

  .rose {
    position: absolute;
    top: 0;
    right: 0;
    width: ruler.fluid(250, 500);
  }
</style>
