---
import "plyr/dist/plyr.css";
import "../styles/global.css";

// import "../styles/layout.css";
// import "../styles/vars.css";
import SEO from "@components/layout/SEO.astro";
import type { ImageMetadata } from "astro";
import Header from "../components/layout/Header.astro";

interface Props {
  title?: string;
  description?: string;
  ogImage?: ImageMetadata | string;
  hideHeaderTrigger?: boolean;
}

const { title, description, ogImage, hideHeaderTrigger = false } = Astro.props;
---

<!doctype html>
<html lang="en" data-color-scheme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <SEO title={title} description={description} ogImage={ogImage} />

    <!-- Typekit -->
    <link rel="stylesheet" href="https://use.typekit.net/uez0wpq.css" />

    <!-- Preconnect -->
    <link rel="preconnect" href="https://use.typekit.net" />

    <!-- <script
      src="https://challenges.cloudflare.com/turnstile/v0/api.js"
      async
      defer></script> -->
  </head>
  <body class="">
    <Header hideTrigger={hideHeaderTrigger} />
    <slot />
    <script>
      import "../scripts/reveal";
    </script>
    <!-- <Footer /> -->
    <!-- <CookieConsent /> -->
    <!-- <script>
      if (document.querySelector("[data-plyr-provider]")) {
        const { default: Plyr } = await import("plyr");
        new Plyr("[data-plyr-provider]", {
          youtube: { noCookie: true },
        });
      }
    </script> -->
  </body>
</html>
